#main {
  background-color: #0099ff;
  border-radius: 5px;
  margin: 3%;
  padding-top: 40px;
  padding-bottom: 40px;
}

h1 {
  font-size: 60px;
}

#pictureDiv {
  background-color: white;
  border-radius: 2px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  padding: 4px;
}

#ulDiv {
  margin-bottom: 30px;
}

ul {
  margin-left: 20%;
  margin-right: 20%;
}

li {
  margin-left: 20px;
}

#quoteDiv {
  margin-left: 20%;
  margin-right: 20%;
}

hr {
  margin-left: 3%;
  margin-right: 3%;
}
